[user]
	name = Jonathan Perichon
	email = jperichon@gmail.com
	signingkey = 440CBDC1EED744A8

[credential]
	helper = osxkeychain
	helper = /usr/local/share/gcm-core/git-credential-manager-core

[diff]
	tool = vimdiff
[alias]
    d = difftool
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	autoSetupRemote = true
